.title{
        border:2px solid rgba(255, 255, 255, 0.205);


    border-radius:6px;
      padding: 20px;
  width: 90%;
  max-width: 900px;
  margin: 20px auto;
    box-shadow:
        0 4px 8px rgba(0,0,0,0.15),
        0 10px 25px rgba(0,0,0,0.2);    
background: rgba(255,255,255,0.1);
backdrop-filter: blur(10px);
}


#hero{
    font-size:60px;
    font-family:Arial;
    margin:1px;
    text-align:center;
    font-weight:bolder;
    color:rgb(237, 230, 255);
     text-shadow:
    0 0 5px #b19cd9,   /* small glow */
    0 0 10px #a05ee0;


}
#contact a:hover {
    text-shadow: 0 0 10px #fff, 0 0 20px #0ff;
    color: #0ff;
    transition: all 0.3s ease;
}
body{
    background: linear-gradient(180deg, #0b0bff, #5a00ff);
    background-repeat:no-repeat;


}


.mission{
    color:white;
}
.pfp{
 
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.picture{
    width:200px;
    border-radius:1000px;
    padding:40px;
    box-shadow:
        0 4px 8px rgba(0,0,0,0.15),
        0 10px 25px rgba(0,0,0,0.2);
}
.left-nav{
    border:2px solid rgba(255, 255, 255, 0.205);


    border-radius:6px;
    margin:20px;
    box-shadow:
        0 4px 8px rgba(0,0,0,0.15),
        0 10px 25px rgba(0,0,0,0.2);    
background: rgba(255,255,255,0.1);
backdrop-filter: blur(10px);}
.left-nav a{
    color:white;
    font-family:montserrat;
    padding:10px;
    font-weight:bold;
   
}
.right-nav{
    display:flex;
    justify-content:right;
    align-items:right;
   
}
#abouted{
        border-radius:6px;
    margin:20px;
    box-shadow:
        0 4px 8px rgba(0,0,0,0.15),
        0 10px 25px rgba(0,0,0,0.2);    
background: rgba(255,255,255,0.1);
backdrop-filter: blur(10px);    
border:2px solid rgba(255, 255, 255, 0.205);
}
#projected{
        border-radius:6px;
    margin:20px;
    box-shadow:
        0 4px 8px rgba(0,0,0,0.15),
        0 10px 25px rgba(0,0,0,0.2);    
background: rgba(255,255,255,0.1);
backdrop-filter: blur(10px);    
border:2px solid rgba(255, 255, 255, 0.205);


}


#contacted{
        border-radius:6px;
    margin:20px;
    box-shadow:
        0 4px 8px rgba(0,0,0,0.15),
        0 10px 25px rgba(0,0,0,0.2);    
background: rgba(255,255,255,0.1);
backdrop-filter: blur(10px);    
border:2px solid rgba(255, 255, 255, 0.205);
}
#socialize{
        border-radius:6px;
    margin:20px;
    box-shadow:
        0 4px 8px rgba(0,0,0,0.15),
        0 10px 25px rgba(0,0,0,0.2);    
background: rgba(255,255,255,0.1);
backdrop-filter: blur(10px);    
border:2px solid rgba(255, 255, 255, 0.205);


}
a{
    color:white;
    font-family:montserrat;
    padding:6px;
    text-decoration:none;
    font-size:18px;
    font-weight:bold;
}


section{
        border:2px solid rgba(255, 255, 255, 0.205);


    border-radius:6px;
      padding: 20px;
  width: 90%;
  max-width: 900px;
  margin: 20px auto;
    box-shadow:
        0 4px 8px rgba(0,0,0,0.15),
        0 10px 25px rgba(0,0,0,0.2);    
background: rgba(255,255,255,0.1);
backdrop-filter: blur(10px);
}


.mission{
    font-family:montserrat;
    text-shadow:
    0 0 5px  #b6fffb;
    font-size: 20px;
    margin:20px;
    color:rgba(255, 255, 255, 0.712);
    max-width:600px;
     
    font-weight: 600; /* or 600 */
    line-height: 1.6;
 
    margin: 0 auto;
   


}
.coding{
    width:300px;
    border-radius:10px;
            border-radius:6px;
    margin:20px;
    box-shadow:
        0 4px 8px rgba(0,0,0,0.15),
        0 10px 25px rgba(0,0,0,0.2);    
    background:linear-gradient(45deg, rgba(46, 46, 255, 0.678),rgba(35, 123, 255, 0.568),rgba(153, 45, 255, 0.575));
    border:2px solid rgba(255, 255, 255, 0.205);




}
#about{
    display: flex;
    align-items: center;
    gap: 30px;
    backdrop-filter: blur(6px);
  border: 1px solid rgba(255,255,255,0.15);
}
.projecttitle{
    font-size:40px;
    color:white;
    font-family:montserrat;
    text-align:center;
    font-weight:bolder;
}


.elaborate{
    color:white;
    font-family:montserrat;
}
.projectentitle{
    font-family:montserrat;
    font-weight:400;
    font-size:20px;
    color:rgba(255, 255, 255, 0.856);
    margin:0 auto;
}


video{
  width: 240px;       /* width of the video */
  height: 426px;      /* height of the video (9:16 ratio) */
  overflow: hidden;
  border: 3px solid #1E4599;  /* optional frame for style */
  border-radius: 15px;        /* rounded corners */
  margin: 20px auto;  
      box-shadow:
        0 4px 8px rgba(0,0,0,0.15),
        0 10px 25px rgba(0,0,0,0.2);    
    background:linear-gradient(45deg, rgba(46, 46, 255, 0.678),rgba(35, 123, 255, 0.568),rgba(153, 45, 255, 0.575));
    border:2px solid rgba(255, 255, 255, 0.205);

   display:flex;
}
.python-code{
      background: #1E4599;        /* Champions League blue */
  padding: 20px;
  border-radius: 15px;
  width: fit-content;
  max-width: 100%;
  max-height:426px;
  margin: 20px auto;
  box-shadow: 0 0 20px #8a2be2, 0 0 40px #b19cd9; /* purple glow effect */
  overflow-x: auto;
  
}
* {
  scroll-behavior: smooth;
}
#instagram{
    color:rgb(255, 255, 255);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:18px;
    margin:0 auto;
}
#youtube{
    color:rgb(255, 255, 255);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:18px;
    margin:0 auto;
}
#twitter{
    color:rgb(255, 255, 255);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:18px;
    margin:0 auto;
}
.fa-youtube{
    color:red;
    font-size:100px;
    margin:auto;
}
.fa-twitter{
    font-size:100px;
    
}
.fa-instagram{
    font-size:100px;
}
#contact{
    display:flex;
    gap:90px;
}
