#title{
    font-size:50px;
    color:white;
    text-align:center;
    font-weight:bolder;
    font-family:montserrat;
    text-shadow:
  0 0 6px rgba(255, 255, 255, 0.6),
  0 0 14px rgba(120, 160, 255, 0.45);
    margin:20px;
}
.title{
    border:2px solid rgb(187, 187, 187);
    padding:10px 10px 10px 10px;
    border-radius:30px;
    margin:1px 20px 20px 20px;
    background: linear-gradient(135deg,
#3A2F6FBB 0%,
#4A3F9F 40%,
#3F6FA8 75%,
#2F5F99 100%
    );
    box-shadow:
  0 10px 40px rgba(0, 0, 0, 0.35),
  inset 0 1px 0 rgba(255, 255, 255, 0.15);

}

body{
    background: linear-gradient(135deg,
  #2f00bbbb 0%,
  #4e0eff 40%,
  #1e80ff 75%,
  #004cff 100%
    );
    background-size:cover;
    background-repeat:no-repeat;

}
#title-description{
    text-align:center;
    color:rgba(255, 255, 255, 0.781);
    font-weight:bold;
    font-family:montserrat;
    margin:2px 2px 2px 2px ;
       text-shadow:
  0 0 6px rgba(255, 255, 255, 0.6),
  0 0 14px rgba(120, 160, 255, 0.45);

}
.tabletop{
    text-align: center;
    font-size:18px;
    color:white;
    font-family:montserrat;
    font-weight:normal;
 
}
.pages {
    display: flex;
    justify-content: center; 
    gap: 24px;               
    margin:1px 1px 1px 1px;          
}
.mission-statement{
    margin-right:60%;
    margin-left:4%;
    font-size:20px;
    color:white;
    font-family:montserrat;

}
.content{
        border:2px solid rgb(187, 187, 187);
    padding:10px 10px 10px 10px;
    border-radius:30px;
    margin:1px 20px 20px 20px;
    background: linear-gradient(135deg,
#3A2F6FBB 0%,
#4A3F9F 40%,
#3F6FA8 75%,
#2F5F99 100%
    );
    box-shadow:
  0 10px 40px rgba(0, 0, 0, 0.35),
  inset 0 1px 0 rgba(255, 255, 255, 0.15);

}